@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
}

:root{
  --shadow: 0px 10px 35px -0px #90bce33d;
  --border-radius: 10px;
  --dark-color: #0e0e0f;
  --darker-color: #0a0a0b;
  --light-dark-color: #121212;
  --lighter-dark-color: #1a1a1a;
  --main-color: #4614d0;
  --main-color-hover: #4f19e5;
  --light-text-color: silver;
  --border-color: #ffffff0f;

  --error-color: rgb(244, 84, 84);
}

main{
min-height: 100vh;
}

h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

li{
    list-style: none;
    cursor: pointer;
}

label{
  margin-bottom: .5rem;
  display: block;
}

button{
  background: inherit;
  border: none;
  cursor: pointer;
  padding: .3rem;
}
/* Webkit browsers (Chrome, Safari, and newer versions of Edge) */
textarea::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Hide the scrollbar track background */
textarea::-webkit-scrollbar-track {
  background: transparent; /* Make the track background transparent */
}

/* Style the scrollbar thumb */
textarea::-webkit-scrollbar-thumb {
  background-color: #888; /* You can customize this */
  border-radius: 10px; /* Optional: round the scrollbar thumb */
  border: 2px solid transparent; /* Create space around the thumb */
}

textarea{
  border: none;
  border-radius: var(--border-radius);
  overflow: hidden;
  overflow-y: scroll;
  padding: 1rem;
  scrollbar-width: thin; /* Make the scrollbar thin */
  scrollbar-color: #888 transparent;
  line-height: 1.6
}

textarea:focus {
  outline: none;
}

.layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}

.layout .c-1{
  grid-column: 1 / 3;
}

.button{
  padding: .9rem 1.1rem;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
  width: max-content;
}

.main-btn{
  background: var(--main-color);
  color: white;
  transition: .3s background;
}

.main-btn:hover{
  background: var(--main-color-hover);
}

.alt-btn{
  border: 2px solid var(--main-color);
  color: white;
  transition: .3s background;
}

.prompt-component header{
  display: flex;
  justify-content: flex-end;
}

.text-card textarea{
  width: 100%;
  height: 65vh;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}

.textarea-container{
  position: relative;
}

.text-card .textarea-header{
  display: flex;
  justify-content: flex-end;
  border: 1px solid var(--);
  border-bottom: none;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.text-card .textarea-header .item{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.copyt-text-button{
  position: relative;
}

.copy-message{
  font-size: 13px;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 100%;
  display: none;
}

.float-up{
  display: block;
  animation: float-up .7s ease-in-out forwards;
}

@keyframes float-up {
    0%{
      opacity: 0;
      bottom: 100%;
    }
    50%{
      opacity: 1;
      bottom: 150%;
    }
    100%{
      opacity: 0;
      bottom: 200%;
    }
}

.drop-down{
    position: relative;
}

.drop-down .drop-down-window{
    position: absolute;
    z-index: 10;
}

.drop-down.open .drop-down-window{
    display: inherit;
}

.drop-down.close .drop-down-window{
    display: none;
}

.d-dropdown button{
    font-size: inherit;
    border-radius: 5px;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    min-width: 131px;
    width: 100%;
}

.d-window {
    padding: .6rem;
    gap: .8rem;
    margin-top: .4rem;
    width: 100%;
    min-width: 130px;
    max-width: 200px;
    border-radius: 5px;
}

.d-window li{
    padding: .5rem .8rem;
    border-radius: 8px;
}

.select-options {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.select-options button{
   font-size: 16px;
   padding: .8rem 1rem;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: .5rem;
}

.selected-option{
    background: var(--main-color) !important;
}

.icon{
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background .3s;
}

.icon:hover{
  background: rgba(251, 249, 254, 0.065);
}



.delete-icon{
  color: var(--error-color) !important;
}


